/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&display=swap");

body {
  min-width: 50vh;
  font-family: "Poppins", sans-serif;
}
img {
  width: "700px";
  height: "500px";
  border-radius: 50%;
}
.logo {
  color: orange;
}

span {
  font-size: 2rem;
  color: #2222;
}
